.container {
  display: grid;
  grid-template-columns: 10% 80%;
  margin: 1.5%;
}

.sideBar,
.mainContent {
  text-align: center;
}
.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 0;
}

/* .mainContent {
  background: url(https://picsum.photos/200/300);
} */

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2%;
  padding: 2% 5%;
  border-radius: 5px;
}
