.container {
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 10% 80%;
  margin: 1em;
}

.sideBar,
.mainContent {
  border: 5px solid black;
  text-align: center;
}

/* .mainContent {
  background: url(https://picsum.photos/200/300);
} */

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonsDivSidebar {
  height: 100px;
  padding: 5%;
}
