.sideBar,
.mainContent {
  text-align: center;
}
.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 0;
}

/* .mainContent {
  background: url(https://picsum.photos/200/300);
} */

.button {
  box-shadow: inset 0px 1px 0px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 10%;
  border: 1px solid #566963;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 11px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  text-align: center;
}

.buttonActive {
  box-shadow: inset 0px 1px 0px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #a3bd30;
  border-radius: 5px;
  border: 1px solid #566963;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 11px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  text-align: center;
}

.nav {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 11% 11% 11% 33% 33%;
  grid-gap: 1%;
  margin: auto;
  padding: 0;
}
.nav a {
  margin: auto;
  padding: 15%;
}
